@import "tailwindcss";
@plugin "daisyui";

a.active{
  background: linear-gradient(to right,#632EE3,#9F62F2);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  position: relative;
}
a.active::after{
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 100%;
  height: 2px;
  background:linear-gradient(to right,#632EE3,#9F62F2);
}
/* *{
  border: 2px solid red;
} */